* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F5F3EE;
  color: #374151;
  font-family: "Inter", sans-serif;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
}